* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Styling for the HEADER sections begins here! */
.primary-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.primary-header h1 {
    display: inline-block;
    font-size: 48px;
}
/* font style: normal applied to reverse the italics effect of <em> on the SEO words in Horiseon */
.primary-header h1 em {
    color: #d9dcd6;
    font-style:normal
}

.primary-header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.primary-header nav ul {
    list-style-type: none;
}

.primary-header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Styles applied to the header image - secondary header */
.header-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling for the MAIN content begins here! */
/* main represents the main contents of the webpage. main selector applies styles to the main container  */
main {
    width: 75%;  /*Takes 75% of view point*/
    display: inline-block;
    margin-left: 20px;
}

/* There are 3 instances of class = "main". Each attributing section child elements under the main container */
/* .main hooks on to each of those section elements with class defined above for styling */
/* Here, initial code was was condensed - eliminating two CSS selectors and associated properties/value */
.main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .main img selector applies styles to the image child element of the three section element with class ="main"  */
/* Here, two initial CSS selectors in the previous code have been eliminated due to the similar class vaaue applied above */
.main img {
    max-height: 200px;
}

/* Condensed  img 1 and 3 styles from previous code base*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* .main h2 applies styles to the h2 child elements within the the three section elements with class ="main" */
/* Two initial CSS selectors eliminated! for thesame reason as above */
.main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Styling for the ASIDE content begins here */
/* Styles added to the aside container  */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* aside h2 declares the newly added h2 caption of the aside section for styling*/
/* Adding a heading fixes non-sequential level heading ordering and helps the aside section to be understood easily by ALL users*/
aside h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* .aside hooks the three child sections of class = "aside" under the aside section for styling*/
/* 2 CSS selectors eliminated! Consequent on using same classs attribute for the three child elements of aside container */
.aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* .aside h3 hooks on to the <h3> headings of the three child sections of class = "aside" under aside container */
/* 2 CSS selectors eliminated! Consequent on using same classs attribute for the three child elements of aside container */
.aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* .aside img targets and styles the three images - icons which are child elements of the three sections with class ="aside", under the aside container */
/* 2 CSS selectors eliminated! Consequent on using same classs attribute for the three child elements of aside container */
.aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling for the FOOTER begins here! */
/* footer hooks on to the footer section of the webpage for styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
